.arrrowBtnForMains {
  width: 227px;
  height: 60px;
  background-color: $bg-color-arrowbtn;
}
  //  chooseplain
.choosePlan-hover-effects-onbody {
  color: white;
  background-color: $bg-color-blue;
  transform: scale(1.1);
}
.choosePlan-hover-onh3 {
  color: #FFE492;
}
.choosePlain-hover-effects-btn-outline-warning{
  background-color: $bg-color-arrowbtn;
  color: white;
  border: none;
}
