/* Project Management */
.projectManagement {
  min-height: 1370.76px;
  color: black;
  background-image: url(Images/ProjectManagemntAndWorkTogether/Group.png);
  background-repeat: no-repeat;
}
.ProjectManagerReal {
  min-height: 448px;
}
.leftPartManager {
  min-height: 411px;
}
.workTogether {
  min-height: 542.5px;
}

.workTogetherLeft {
  min-height: 324px;
}